body{
    /* background-color: gray; */
    font-family: Arial, Helvetica, sans-serif;
}

.header_container{
    
}

.default_refregerator_container{
    
    width: 785px;
    max-width: 1049px;
    min-width: 785px;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    min-height: 743px;
    max-height: 743px;
    height: 80vh;
    background: url('/rf_1.png');
    background-size: auto 100%; 
    background-position: right center;
    background-repeat: no-repeat;
    position: relative;
}
.default_refregerator_container .container_1{
    position: absolute;
    top: 58px;
    width: 460px;
    height: 323px;
}
.default_refregerator_container .container_2{
    position: absolute;
    top: 45px;
    right: 58px;
    width: 225px;
    height: 336px;
}
.default_refregerator_container .container_3{
    position: absolute;
    bottom: 45px;
    width: 464px;
    height: 267px;
}
.default_refregerator_container .container_4{
    position: absolute;
    bottom: 35px;
    right: 58px;
    width: 225px;
    height: 308px;
}
/* .default_refregerator_container .heading{
    height: 28px;
} */
.default_refregerator_container .section_header{
    background-color: rgb(103, 123, 223); 
    /* background-color: rgba(255, 255, 255, 0.911); */
    border-radius: 0;
    margin: 0;
    width: 100%;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    border-left: solid 1px black;
    height: 28px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.default_refregerator_container .section_content{
    padding: 10px;
    box-shadow:inset 0px 0px 3px 1px rgba(0, 0, 0, 0.294);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 211px;
    background-color: rgb(172, 178, 207); 
    /* background-color: rgba(255, 255, 255, 0.801); */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
    /* direction: rtl; */
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: rgba(253, 212, 163, 0); 
}
::-webkit-scrollbar-thumb {
    background: rgb(103, 123, 223); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(55, 81, 211); 
}
.section_header-first{
    border-top: 1px solid black;
}
.default_refregerator_container .container_2__section .section_content{
    height: 308px;
}
.default_refregerator_container .container_3__section .section_content{
    height: 183px;
}
.default_refregerator_container .container_4__section .section_content{
    height: 280px;
}

.default_refregerator_container .header_text{
    width: 40%;
    margin-right: 50%;
}
.default_refregerator_container .header_amount{
    width: 20%;
}
.default_refregerator_container .container_4 .header_text, .default_refregerator_container .container_2 .header_text{
    width: 70%;
    margin-right: 10%;
}
.item{
    /* background-color: white; */
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 10px;
}
.default_refregerator_content .item{
    max-height: 125px;
}
.gaming_refregerator_content .item{
    max-height: 125px;
}
.item_picture{
    width: 80px;
    height: 80px;
}
.item_header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_name{
    margin: 0;
}
.item_footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_state{
    margin: 0;
}

.item_options{
    position: absolute;
    right: -105px;
    background-color: rgb(145, 159, 228);
    z-index: 98;
    padding: 10px;
    width: 105px;
    height: 100%;
    /* box-shadow: 3px 0px 0px 0px rgba(0, 0, 0, 0.308), 0px 3px 0px 0px rgba(0, 0, 0, 0.308), 0px -3px 0px 0px rgba(0, 0, 0, 0.308); */
    box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.308);
    display: none;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
}
.door{
    right: 0;
    width: 95px;
    padding: 5px;

    bottom: 0px;
    box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.308);
}
.item:hover{
    cursor: pointer;
    /* box-shadow: -3px 0px 0px 0px rgba(0, 0, 0, 0.308), 0px 3px 0px 0px rgba(0, 0, 0, 0.308), 0px -3px 0px 0px rgba(0, 0, 0, 0.308); */
    /* box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, 0.308); */
    background-color: rgb(145, 159, 228);
}
.door_item:hover{
    margin: 0px;
    width: 210px;
    align-items: flex-start;
}
.item:hover .item_options{
    display: flex;
}
.item_options button{
    width: 85px;
    
}

.shop{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

.shop .section_content{
    padding: 10px;
    box-shadow:inset 0px 0px 3px 1px rgba(0, 0, 0, 0.294);
    border: 1px solid black;
    width: 80%;
    max-width: 960px;
    background-color: rgb(172, 178, 207); 
    /* background-color: rgba(255, 255, 255, 0.801); */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: visible;
    /* direction: rtl; */
}

.section_button:hover ~ .secton_list{
    display: flex;
}

.secton_list:hover{
    display: flex;
}

.secton_list{
    background-color:rgb(94, 190, 235);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.308);
    flex-direction: column;
    align-items: center;
    width: 85px;
    height: fit-content;
    max-height: 175px;
    overflow: auto;
    left: 10px;
    top: 90px;
    z-index: 99;
    position: absolute;
    display: none;
    font-size: 0.8rem;
    text-decoration: none;
    
}
.default_refregerator_content .secton_list{
    height: 80px;
    top: 105px;
}
.gaming_refregerator_content .secton_list{
    height: 80px;
    top: 105px;
}
.hiden{
    display: none;
}
.submit_button{
    border: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}
.submit_button:hover{
    color: white;
    background-color: rgb(29, 127, 238);
}

.alert{
    width: 100vw;
    position: absolute;
    z-index: 100;
}
.money{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.skin{
    display: flex;
    justify-content: flex-end;
}
.skin p{
    margin: 0;
}
.skin-li{
    display: flex;
    flex-direction: row; 
}
.skin-form{
    display: flex;
    align-items: center;
}
.gaming_refregerator_container{
    
    width: 785px;
    max-width: 1049px;
    min-width: 785px;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    min-height: 743px;
    max-height: 743px;
    height: 80vh;
    background: url('/rf_red.png');
    background-size: auto 100%; 
    background-position: right center;
    background-repeat: no-repeat;
    position: relative;
    
}
.gaming_refregerator_container .container_1{
    position: absolute;
    top: 59px;
    width: 460px;
    height: 323px;
}
.gaming_refregerator_container .container_2{
    position: absolute;
    top: 45px;
    right: 61px;
    width: 225px;
    height: 336px;
}
.gaming_refregerator_container .container_3{
    position: absolute;
    bottom: 45px;
    width: 464px;
    height: 267px;
}
.gaming_refregerator_container .container_4{
    position: absolute;
    bottom: 35px;
    right: 61px;
    width: 225px;
    height: 308px;
}
/* .default_refregerator_container .heading{
    height: 28px;
} */
.gaming_refregerator_container .section_header{
    background-color: #e6505f; 
    /* background-color: rgba(255, 255, 255, 0.911); */
    border-radius: 0;
    margin: 0;
    width: 100%;
    border-bottom: solid 1px #f11b30;
    border-right: solid 1px #f11b30;
    border-left: solid 1px #f11b30;
    height: 28px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.gaming_refregerator_container .section_content{
    padding: 10px;
    box-shadow:inset 0px 0px 3px 1px rgba(0, 0, 0, 0.294);
    border-left: 1px solid #f11b30;
    border-right: 1px solid #f11b30;
    border-bottom: 1px solid #f11b30;
    height: 211px;
    background-color: #d88991; 
    /* background-color: rgba(255, 255, 255, 0.801); */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
    /* direction: rtl; */
}

.gaming_refregerator_container .container_2__section .section_content{
    height: 308px;
}
.gaming_refregerator_container .container_3__section .section_content{
    height: 183px;
}
.gaming_refregerator_container .container_4__section .section_content{
    height: 280px;
}
.gaming_refregerator_container .section_header-first{
    border-top: 1px solid #f11b30;
}
.gaming_refregerator_container .header_text{
    width: 40%;
    margin-right: 50%;
}
.gaming_refregerator_container .header_amount{
    width: 20%;
}
.gaming_refregerator_container .container_4 .header_text, .gaming_refregerator_container .container_2 .header_text{
    width: 70%;
    margin-right: 10%;
}