body{
    /* background-color: gray; */
}

.header_container{
    height: 10vh; 
}

.default_refregerator_container{
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 70%;
    max-width: 1049px;
    min-width: 1049px;
    margin-left: 15%;
    height: 80vh;
    background: url('/ref.png');
    background-size: auto 100%; 
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.default_refregerator_container .container_1{
    position: absolute;
    top: 60px;
    width: 500px;
    height: 338px;
}
.default_refregerator_container .container_2{
    position: absolute;
    top: 42px;
    right: 250px;
    width: 265px;
    height: 350px;
}
.default_refregerator_container .container_3{
    position: absolute;
    bottom: 37px;
    width: 500px;
    height: 300px;
}
.default_refregerator_container .container_4{
    position: absolute;
    bottom: 33px;
    right: 250px;
    width: 265px;
    height: 333px;
}
/* .default_refregerator_container .heading{
    height: 28px;
} */
.default_refregerator_container .section_header{
    background-color: rgb(145, 159, 228); 
    /* background-color: rgba(255, 255, 255, 0.911); */
    border-radius: 0;
    margin: 0;
    width: 100%;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    border-left: solid 1px black;
    height: 28px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.default_refregerator_container .section_content{
    padding: 10px;
    box-shadow:inset 0px 0px 3px 1px rgba(0, 0, 0, 0.294);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 226px;
    background-color: rgb(172, 178, 207); 
    /* background-color: rgba(255, 255, 255, 0.801); */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
    /* direction: rtl; */
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: rgba(253, 212, 163, 0); 
}
::-webkit-scrollbar-thumb {
    background: rgb(255, 203, 140); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(250, 183, 102); 
}
.section_header-first{
    border-top: 1px solid black;
}
.default_refregerator_container .container_2__section .section_content{
    height: 322px;
}
.default_refregerator_container .container_3__section .section_content{
    height: 216px;
}
.default_refregerator_container .container_4__section .section_content{
    height: 305px;
}

.default_refregerator_container .header_text{
    width: 40%;
    margin-right: 50%;
}
.default_refregerator_container .header_amount{
    width: 20%;
}
.default_refregerator_container .container_4 .header_text, .default_refregerator_container .container_2 .header_text{
    width: 70%;
    margin-right: 10%;
}
.item{
    /* background-color: white; */
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 10px;
}
.item_picture{
    width: 80px;
    height: 80px;
}
.item_header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_name{
    margin: 0;
}
.item_footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_state{
    margin: 0;
}

.item_options{
    position: absolute;
    right: -105px;
    background-color: brown;
    z-index: 100;
    padding: 10px;
    width: 105px;
    height: 100%;
    /* box-shadow: 3px 0px 0px 0px rgba(0, 0, 0, 0.308), 0px 3px 0px 0px rgba(0, 0, 0, 0.308), 0px -3px 0px 0px rgba(0, 0, 0, 0.308); */
    box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.308);
    display: none;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: column;
}
.item:hover{
    cursor: pointer;
    /* box-shadow: -3px 0px 0px 0px rgba(0, 0, 0, 0.308), 0px 3px 0px 0px rgba(0, 0, 0, 0.308), 0px -3px 0px 0px rgba(0, 0, 0, 0.308); */
    /* box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, 0.308); */
    background-color: brown;
}
.item:hover .item_options{
    display: flex;
}
.item_options button{
    width: 85px;
    
}

.shop{
    display: flex;
    justify-content: center;
}

.shop .section_content{
    padding: 10px;
    box-shadow:inset 0px 0px 3px 1px rgba(0, 0, 0, 0.294);
    border: 1px solid black;
    width: 80%;
    background-color: rgb(172, 178, 207); 
    /* background-color: rgba(255, 255, 255, 0.801); */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: visible;
    /* direction: rtl; */
}