<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html >
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/style.css}"/>
    </head>
    <body xmlns:th="http://www.thymeleaf.org">
<!--        <a href="/persons">Persons</a>
        <div th:switch="${items}">
            <h2 th:case="null">No items yet!</h2>
            <div th:case="*">
                <h2>Person</h2>
                <table>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${items}">
                            <td th:text="${item.id}"></td>
                            <td th:text="${item.name}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>      
            <p><a href="/persons">Persons</a></p>
        </div>-->
        
        <div class="header_container">
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <a class="navbar-brand" href="#">Refregerator</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse navbar-end" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
            </header>
        </div>

        <div th:switch="${refrigerator.Skin}">
            <div th:case="'default'" class='default_refregerator_container'>
                <!-- <div th:each="section: ${sections}" class="section">
                    <p th:text="${section.getName()}"></p>
                </div> -->
                
                <div class="default_refregerator_content">
                    <div class="container_1" id="accordion">
                        <div class="container_1__section" >
                            <div id="headingOne" class="heading">
                                <a class="btn btn-link section_header section_header-first" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <div class="header_text">
                                        Main - Shelf 1
                                    </div>
                                    <div class="header_amount">
                                        <div th:style="'color:'+@{${Main_s_1.getColor()}}">
                                            <td th:inline="text">
                                                [[${Main_s_1.getContents().size()}]]
                                                / 
                                                [[${Main_s_1.getMaxVolume()}]]
                                            </td>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="section_content">
                                    <div th:each="item: ${Main_s_1.getContents()}" class="item">
                                        <div class="item_header" >
                                            <p class="item_name" th:text="${item.getName()}">No Item?</p>
                                        </div>
                                        <img class="item_picture" th:src="@{${item.getPic()}}"/>
                                        <div class="item_footer">
                                            <p class="item_state" th:style="'color:'+@{${item.getStateColor()}}" th:text="${item.getState()}">No Item?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container_1__section" >
                            <div id="headingTwo" class="heading">
                                <a class="btn btn-link section_header" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    <div class="header_text">
                                        Main - Shelf 2
                                    </div>
                                    <div class="header_amount">
                                        <div th:style="'color:'+@{${Main_s_1.getColor()}}">
                                            <td th:inline="text">
                                                [[${Main_s_1.getContents().size()}]]
                                                / 
                                                [[${Main_s_1.getMaxVolume()}]]
                                            </td>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="section_content">
                                    <div th:each="item: ${Main_s_2.getContents()}" class="item">
                                        <p th:text="${item.getName()}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container_1__section" >
                            <div id="headingThree" class="heading">
                                <a class="btn btn-link section_header" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                    <div class="header_text">
                                        Main - Shelf 3
                                    </div>
                                    <div class="header_amount">
                                        <div th:style="'color:'+@{${Main_s_1.getColor()}}">
                                            <td th:inline="text">
                                                [[${Main_s_1.getContents().size()}]]
                                                / 
                                                [[${Main_s_1.getMaxVolume()}]]
                                            </td>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="section_content">
                                    <div th:each="item: ${Main_s_3.getContents()}" class="item">
                                        <p th:text="${item.getName()}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container_1__section" >
                            <div id="headingFourth" class="heading">
                                <a class="btn btn-link section_header" data-toggle="collapse" data-target="#collapseFourth" aria-expanded="true" aria-controls="collapseFourth">
                                    <div class="header_text">
                                        Main - Shelf 4
                                    </div>
                                    <div class="header_amount">
                                        <div th:style="'color:'+@{${Main_s_1.getColor()}}">
                                            <td th:inline="text">
                                                [[${Main_s_1.getContents().size()}]]
                                                / 
                                                [[${Main_s_1.getMaxVolume()}]]
                                            </td>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseFourth" class="collapse" aria-labelledby="headingFourth" data-parent="#accordion">
                                <div class="section_content">
                                    <div th:each="item: ${Main_s_4.getContents()}" class="item">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="container_2">
                        <div class="container_2__section" >
                            <div class="heading">
                                <a class="btn btn-link section_header section_header-first">
                                    <div class="header_text">
                                        Main - Door
                                    </div>
                                    <div class="header_amount">
                                        <div th:style="'color:'+@{${Main_s_1.getColor()}}">
                                            <td th:inline="text">
                                                [[${Main_s_1.getContents().size()}]]
                                                / 
                                                [[${Main_s_1.getMaxVolume()}]]
                                            </td>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div >
                                <div class="section_content">
                                    <div th:each="item: ${Main_d.getContents()}" class="item">
                                        <p th:text="${item.getName()}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container_3" id="accordion-s3">
                        <div class="container_3__section" >
                            <div id="headingOne-s3" class="heading">
                                <a class="btn btn-link section_header section_header-first" data-toggle="collapse" data-target="#collapseOne-s3" aria-expanded="true" aria-controls="collapseOne-s3">
                                    <div class="header_text">
                                        Freezer - Shelf 1
                                    </div>
                                    <div class="header_amount">
                                        <div th:style="'color:'+@{${Main_s_1.getColor()}}">
                                            <td th:inline="text">
                                                [[${Main_s_1.getContents().size()}]]
                                                / 
                                                [[${Main_s_1.getMaxVolume()}]]
                                            </td>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseOne-s3" class="collapse show" aria-labelledby="headingOne-s3" data-parent="#accordion-s3">
                                <div class="section_content">
                                    <div th:each="item: ${Freezer_s_1.getContents()}" class="item">
                                        <p th:text="${item.getName()}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container_3__section" >
                            <div id="headingTwo-s3" class="heading">
                                <a class="btn btn-link section_header" data-toggle="collapse" data-target="#collapseTwo-s3" aria-expanded="true" aria-controls="collapseTwo-s3">
                                    <div class="header_text">
                                        Freezer - Shelf 2
                                    </div>
                                    <div class="header_amount">
                                        <div th:style="'color:'+@{${Main_s_1.getColor()}}">
                                            <td th:inline="text">
                                                [[${Main_s_1.getContents().size()}]]
                                                / 
                                                [[${Main_s_1.getMaxVolume()}]]
                                            </td>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseTwo-s3" class="collapse" aria-labelledby="headingTwo-s3" data-parent="#accordion-s3">
                                <div class="section_content">
                                    <div th:each="item: ${Freezer_s_2.getContents()}" class="item">
                                        <p th:text="${item.getName()}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container_3__section" >
                            <div id="headingThree-s3" class="heading">
                                <a class="btn btn-link section_header" data-toggle="collapse" data-target="#collapseThree-s3" aria-expanded="true" aria-controls="collapseThree-s3">
                                    <div class="header_text">
                                        Freezer - Shelf 3
                                    </div>
                                    <div class="header_amount">
                                        <div th:style="'color:'+@{${Main_s_1.getColor()}}">
                                            <td th:inline="text">
                                                [[${Main_s_1.getContents().size()}]]
                                                / 
                                                [[${Main_s_1.getMaxVolume()}]]
                                            </td>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseThree-s3" class="collapse" aria-labelledby="headingThree-s3" data-parent="#accordion-s3">
                                <div class="section_content">
                                    <div th:each="item: ${Freezer_s_3.getContents()}" class="item">
                                        <p th:text="${item.getName()}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="container_4">
                        <div class="container_4__section" >
                            <div class="heading">
                                <a class="btn btn-link section_header section_header-first">
                                    <div class="header_text">
                                        Freezer - Door
                                    </div>
                                    <div class="header_amount">
                                        <div th:style="'color:'+@{${Main_s_1.getColor()}}">
                                            <td th:inline="text">
                                                [[${Main_s_1.getContents().size()}]]
                                                / 
                                                [[${Main_s_1.getMaxVolume()}]]
                                            </td>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div >
                                <div class="section_content">
                                    <div th:each="item: ${Freezer_d.getContents()}" class="item">
                                        <p th:text="${item.getName()}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>

            <h2 th:case="*">
                No Such Refregerator Type
            </h2>
        </div>


        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
