<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html >
    <head>
        <title>Shop</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/style.css}"/>
    </head>
    <body xmlns:th="http://www.thymeleaf.org">
<!--        <a href="/persons">Persons</a>
        <div th:switch="${items}">
            <h2 th:case="null">No items yet!</h2>
            <div th:case="*">
                <h2>Person</h2>
                <table>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${items}">
                            <td th:text="${item.id}"></td>
                            <td th:text="${item.name}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>      
            <p><a href="/persons">Persons</a></p>
        </div>-->
        
        <div class="header_container">
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <a class="navbar-brand" href="#">Refregerator</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav col-10">
                        <li class="nav-item">
                          <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="/shop/">Shop <span class="sr-only">(current)</span></a>
                        </li>
                        
                      </ul>
                      <ul class="navbar-nav col-2 money">
                            <li class="nav-item active">
                                <a class="nav-link" href="/money-change?money=1000"><span th:text="${refrigerator.getMoney()}"></span> $</a>
                            </li>
                      </ul>
                    </div>
                  </nav>
            </header>
        </div>
        
        <div class="message">
            <div th:switch="${message}">
                <div th:case="null"></div>
                <div th:case="*">
                    <div th:switch="${message_type}">
                        <div th:case="null">
                            <div class="alert alert-danger alert-dismissible fade show ">
                                <strong>Error!</strong>
                                <span th:text="${message}"></span>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        </div>
                        <div th:case="success">
                            <div class="alert alert-success alert-dismissible fade show">
                                <strong>Success!</strong>
                                <span th:text="${message}"></span>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        </div>
                        <div th:case="warning">
                            <div class="alert alert-warning alert-dismissible fade show ">
                                <strong>Warning!</strong>
                                <span th:text="${message}"></span>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop">
            <div class="section_content">
                <div th:each="item: ${items}" class="item">
                    <div class="item_header" >
                        <p class="item_name" th:text="${item.getItem().getName()}">No Item?</p>
                    </div>
                    <img class="item_picture" th:src="@{${item.getItem().getPic()}}"/>
                    <div class="item_footer">
                        <p class="item_state" th:text="${item.getPrice()}+' $'">No Item?</p>
                    </div>
                    <div class="item_options">
                        <button class="btn btn-outline-primary active section_button">
                            Buy
                        </button>
                        <div class="secton_list">
                            <div th:each="section: ${sections}">
                                <!-- <a style="color: black;" th:text="${section.getName()}" th:href="'/shop-buy-item?itemId='+@{${item.getId()}}+'&'+'sectionId='+@{${section.getId()}}"></a> -->
                                <form  action="/shop-buy" method="post">
                                    <input type="text" class="hiden" name="itemId" th:value="${item.getId()}">
                                    <input type="text" class="hiden" name="sectionId" th:value="${section.getId()}">
                                    <button class="submit_button" type="submit" th:text="${section.getName()}">section</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            window.setTimeout(function() {
                $(".alert").remove(); 
            }, 2000);
        </script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
